@import "reset.scss";
@import "variables/globals.scss";
@import "themes/dark.scss";
@import "themes/normal.scss";

.app {
    font-size: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}
