.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 15px;
    border: 1px solid red;
    color: green;
    background: none;
}