.Sidebar {
    height: 100vh;
    width: 220px;
    background-color: var(--sidebar-bg-color);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;

    .sidebar__content_top {
        .logo {
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            gap: 5px;

            .logo__title {
                font-family: 'Poppins', sans-serif;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }

    .sidebar__content_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user__info {
            display: flex;
            align-items: center;
            gap: 10px;

            .avatar {
                width: 42px;
                height: 42px;
                background-color: gray;
                border-radius: 50%;
            }

            .text {
                p {
                    font-family: 'Roboto Flex', sans-serif;
                }

                .name {
                    font-size: 14px;
                    font-weight: 500;
                }

                .email {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    display: flex;
    align-items: center;


    .logo__title {
        display: none;
    }

    .sidebar__content_bottom {
        .user__info {
            .name {
                display: none;
            }

            .email {
                display: none;
            }
        }

        svg {
            display: none;
        }
    }
}