:root {
    --bg-color: rgba(250, 251, 255, 1);

    --primary-color: rgba(29, 29, 40, 1);
    --secondary-color: rgb(0, 206, 137);
    
    --sidebar-bg-color: rgba(250, 251, 255, 1);

    --text-main: rgba(33, 34, 39, 1);
    --text-secondary: rgb(38, 92, 121);


    --button-main: rgba(77, 74, 234, 1);
}
