.search {
    padding: 8px 16px 8px 16px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 25%;

    input {
        border: none;
        outline: none;
    }
}