@keyframes skeleton-loading {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.collage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.collage__item {
    position: relative;
    flex: 0 0 calc(33.333% - 10px);
    aspect-ratio: 1;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(157, 158, 171, 0.2) 25%, rgba(157, 158, 171, 0.8) 50%, rgba(157, 158, 171, 0.2) 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 8px;
        z-index: 1;
        transition: filter 0.3s ease-in-out;
    }

    .view__icon {
        z-index: 10;
        position: absolute;
        opacity: 0; 
        visibility: hidden; 
        fill: white;
        transform: scale(1);
        width: 25px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
}

.collage__item:hover .view__icon {
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.5);
}

.collage__item:hover img {
    filter: brightness(30%);
}